@use 'src/styles/vars';

.header {
  background-color: vars.$color;
  color: vars.$color-light;
  padding: vars.$gutter * 3 0;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  & &__title { // .header .header__title
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;

    @include vars.mobile {
      
      font-size: 1em;
  }
  }

  &__amount { // .header__amount
    margin-top: vars.$gutter;
    font-size: 1.3em;
    font-weight: bold;
    font-size: 2em;

    @include vars.mobile {
      
      font-size: 1.5em;
  }
  }

  &__value {
      font-size: 1.3em;
      margin-top: vars.$gutter;

      @include vars.mobile {
      
        font-size: 1.2em;
    }
    }
  }

